<a href="https://colab.research.google.com/github/bixmasiddiqui/Python_assignments/blob/main/assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment 3 :
Python Assignment List Tuples and Methods
basic list operations
1.Create a list of five numbers and append a new number to it. Print the updated list.

In[ ]:

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


2.Extend a list [1, 2, 3] with another list [4, 5, 6]. Print the result.

In[]:

In [ ]:
list1 = [1,2,3]
list2 = [4,5,6]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]


3.Insert the string "Python" at index 2 in the list ["Java", "C++", "JavaScript", "Ruby"].

In []:

In [ ]:
languages = ["Java", "C++", "JavaScript", "Ruby"]
languages.insert(2, "Python")
print(languages)

['Java', 'C++', 'Python', 'JavaScript', 'Ruby']


4.Remove the first occurrence of the number 10 from the list [10, 20, 30, 10, 40].

In[]:

In [ ]:
numbers_list = [10, 20, 30, 10, 40]
numbers_list.remove (10)
print(numbers_list)

[20, 30, 10, 40]


5.Use the pop() method to remove the last element from [100, 200, 300, 400] and print the modified list.

In[]:

In [ ]:
pop_list = [100, 200, 300, 400]
pop_list.pop()
print(pop_list)

[100, 200, 300]

[100, 200, 300]

[100, 200, 300]

Intermediat List Operations

6.Count how many times the number 5 appears in the list [5, 10, 5, 20, 5, 30].

In[]:

In [ ]:
nums_list =[5, 10, 5, 20, 5, 30]
print(nums_list.count(5))

3


7.Sort the list [9, 1, 8, 3, 5] in ascending and descending order.

In[]:

In [ ]:
sort_list =[5,10,60,80]
sort_list_asc = (sorted(sort_list))#for ascending order
print(sort_list)

[5, 10, 60, 80]

In [ ]:
sort_list = [50,70,30,20,100]
sort_list_desc = (sorted(sort_list, reverse =True))#for descending order
print(sort_list_desc)

[100, 70, 50, 30, 20]

8.Reverse the list [“apple”, “banana”, “cherry”] using the reverse() method.

In[]:

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.reverse()
print(fruits)

['cherry', 'banana', 'apple']


9.Create a copy of the list [1, 2, 3, 4, 5] and store it in another variable. Modify the copied list and print both lists.

In[]:

In [ ]:
original_list = [1,2,3,4,5]
list2 = original_list.copy()

print (list2)

[1, 2, 3, 4, 5]

In [ ]:
original_list = [1,2,3,4,5]
list2 = original_list.copy()
list2.append(6,)
print(original_list)

print (list2)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]


10.Clear all elements from a list [“hello”, “world”, “python”] using the clear() method.

In[]:

In [ ]:
words = ["hello", "world", "python"]
words.clear()
print(words)

[]

Tuple_Based Questions

11.Create a tuple with 5 different fruits and print the third fruit.

In[]:

In [ ]:
fruits_tuples = ("apple", "pineapple", "strawberry", "cherry","grapes")
print(fruits_tuples[2])

strawberry

12.Convert the tuple (10, 20, 30, 40, 50) into a list, remove the number 30, and convert it back into a tuple.

In[]:

In [ ]:
num_tuple = (10,20,30,40,50)
num_list = list(num_tuple)
num_list.remove(30)
num_tuple = tuple(num_list)
print(num_tuple)

(10, 20, 40, 50)

13.Try to append an element to the tuple (“A”, “B”, “C”). What happens? How can you modify a tuple indirectly?

In[]:

In [ ]:
tuple_element = ("A","B","C")
lst = list(tuple_element)
lst.append("D" )
tuple_element = tuple(lst)
print (tuple_element)

('A', 'B', 'C', 'D')

14.Unpack the tuple (100, 200, 300) into three separate variables and print them.

In[]:

In [ ]:
tuple =(100,200,300)
a,b,c = (tuple)
print(a,b,c)

100 200 300

15.Count the occurrences of 7 in the tuple (7, 1, 7, 3, 7, 5).

In[]:

In [ ]:
count_tuple = (7, 1, 7, 3, 7, 5,5)
print(count_tuple.count(7))

3

Advanced Problems

16.Write a function that takes a list and returns a new list with all even numbers removed.

In[]:

In [ ]:
def remove_even_numbers(list):
  return [num for num in list if num % 2 != 0]

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(remove_even_numbers(numbers))

[1, 3, 5, 7, 9]

17.Create a function that accepts a list and returns a new list with elements sorted in descending order without using the sort() method.

In[]:

In [ ]:
def descending_sort(list):
  return sorted(list, reverse=True)

numbers = [7, 8, 6, 5, 6]
print(descending_sort(numbers))

[8, 7, 6, 6, 5]

def descending_sort(list):
  return sorted(list, reverse=True)

numbers = [7, 8, 1, 4, 5]
print(descending_sort(numbers))

In[]:

In [ ]:
def remove_duplicates(lst):
  return list(set(lst))

num_list = [1, 2, 2, 3, 4, 4, 5]
print(remove_duplicates(num_list))

[1, 2, 3, 4, 5]

19.Given a tuple of names (“Alice”, “Bob”, “Charlie”, “Alice”, “David”), convert it into a list, remove duplicates, and convert it back to a tuple.

In[]:

In [ ]:
names_tuple = ("Alice", "Bob", "Charlie", "Alice", "David")
names_list = list(set(names_tuple))
names_tuple = (names_list)
print(names_tuple)

['Charlie', 'Bob', 'Alice', 'David']

20.Create a program that takes a list of mixed data types (int, str, float) and separates integers into one list, strings into another, and floats into another.

In[]:

In [ ]:
def separate_types(mixed_list):
  int_list = [x for x in mixed_list if isinstance(x, int)]
  str_list = [x for x in mixed_list if isinstance(x, str)]
  float_list = [x for x in mixed_list if isinstance(x, float)]
  return int_list, str_list, float_list

mixed_data = [1, "hello", 2.5, 3, "world", 4.0, "Python", 5]
integers, strings, floats = separate_types(mixed_data)
print(integers)
print(strings)
print(floats)

[1, 3, 5]
['hello', 'world', 'Python']
[2.5, 4.0]