<a href="https://colab.research.google.com/github/bixmasiddiqui/assignment-02/blob/main/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PYTHON ASSIGNMENT:01

Understanding String Literals

1.Create three different string using each type of quotation:
.Single Quotes ('')
.Double Quotes ("")
.Triple Quotes (""")

In[]:
#Single Quotes

In [ ]:
string1 = 'My name is bismaimran'
print(string1)

My name is bismaimran

In[]:
#Double Quotes

In [ ]:
string2 = "I live in Karachi"
print(string2)

I live in Karachi

In[]:
#Triple Quotes

In [ ]:
string3 = """
hey! I am a frontend developer. I am doing Artificial Intelligence,Web 3.0& Metaverse course at Governor House.I love my coding journey.
"""
print (string3)

hey! I am a frontend developer. I am doing Artificial Intelligence,Web 3.0& Metaverse course at Governor House.I love my coding journey.


2.Explain in your own words: What is the advantage of each type of quotation?

In Python, there are three type of quotation. Single ('')

Double ("")

Triple("""or""")

Each types has its own advantages

Single Quotes('')

Advantages:

1.Used to define string values.

2.Keeps code clean and simple.

Double Quotes("")

Advantages:

1.Standard in most programming languages.

2.Allow using single quotes inside string.

Triple Quotes("""or""")

Advantages:

1.Used for multilines string.

2.Commonly used for documentation strings in python.

3.Write a string that contains both single and double quotes inside its.

In []:

In [ ]:
text = """He said, "Amna is calling you"."""""
print(text)

He said, "Amna is calling you".

4.Create a multi-line string using triple quotes that describe your favorite hobby.

In[]:

In [ ]:
hobby = """my hobby is cooking. I like to cook yummiest food and also like to try new new recipes.I also enjoy coding aswell  """
print (hobby)

my hobby is cooking. I like to cook yummiest food and also like to try new new recipes.I also enjoy coding aswell

Part3 : F-strings


1.Create variables for:

o Your name

o Your age

o Your favorite programming language

In[]:
#create variables

In [ ]:
name = "bisma siddiqui"
age = 19
favourite_language = "python"
print("Name:", name)
print("age:" , age)
print("favourite_language:", favourite_language)

Name: bisma siddiqui
age: 19
favourite_language: python

Then use f-strings to create these sentences:

o "My name is {your_name} and I am {your_age} years old."

o "I enjoy programming in {language}, it's my favorite!"

o Create a math expression inside an f-string: "In 5 years, I will be {age + 5} years old."

In[]
#Creating variables

In [ ]:
name = "bisma siddiqui"
age = 19
favourite_language = "python"

#using f string
sentence1 = f"My name is {name} and I am {age} years old."
sentence2 = f"I enjoy programming in {favourite_language}, it's my favorite!"
sentence3 = f"In 5 years, I will be {age + 5} years old."
print(sentence1)
print(sentence2)
print(sentence3)

My name is bisma siddiqui and I am 19 years old.
I enjoy programming in python, it's my favorite!
In 5 years, I will be 24 years old.

Part4 : Combining string methods with f_strings


Create a program that:

1.Asks for user input about their first name, last name, and birth year

2.Uses string methods to properly capitalize their name

3.Uses f-strings to create a profile message: "Profile: {First Last}, Age: {calculated age}, Username: {first initial + last name + birth year}"

In[]:
#for user input

In [ ]:

first_name = input("Enter your name: ").strip().capitalize()
last_name = input("Enter your last name: ").strip().capitalize()
birth_year = input("Enter your birth year: ").strip()

#Calculating age
current_year = 2025
age = current_year -int(birth_year)

#Creating user
username = f"{first_name[0].lower()}{last_name.lower()}{birth_year}"

#Create the profile message using f-string
profile_message = f"Profile: {first_name} {last_name}, Age: {age}, Username: {username}"

print(profile_message)

Enter your name: bisma
Enter your last name: siddiqui
Enter your birth year: 2005
Profile: Bisma Siddiqui, Age: 20, Username: bsiddiqui2005